@model IEnumerable<BITS.Models.ApplicationUser>
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@{
    ViewData["Title"] = "Index";
    List<IdentityRole> roles = ViewData["Roles"] as List<IdentityRole>;
}

<h2>Accounts</h2>

<p>
    <a asp-controller="Account" asp-action="Register">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @foreach (var role in item.Roles)
                {
                    var roleDescription = roles.Find(r => r.Id == role.RoleId);
                    @roleDescription.Name <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
